<div class="absolute inset-0 bg-[#000] bg-opacity-50 z-10 flex items-center"   [class]="reset ? 'flex':'hidden'">
 <section class="bg-tepapagreen h-[16.625rem] w-full flex justify-center items-center">
  <div class="flex items-center flex-col gap-[1.9375rem]">
    <p class="text-[2.5rem] font-bold text-casper"> RESTART GAME ?</p>
    <app-reusable-button
    [buttonName1]="'NO, CANCEL'"
    [buttonName2]="'YES, RESTART'"
    [buttonEvent1]="hideModal.bind(this)"
    [buttonEvent2]="resetGame.bind(this)"
  />
  </div>
  </section>
</div>
